@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main branding color of the website */
:root {
  /* Tailwind css pink-400 */
  --brand-light: #f472b6;
    /* Tailwind css pink-800 */
  --brand: #9d174d;
  /* Tailwind css pink-900 */
  --brand-dark: #831843;
}

/* Each section has a specific color */
.distribution{
  color: #e0ac2b;
  border-color: #e0ac2b
}
.correlation{
  color: #7f7f7f;
    border-color: #7f7f7f;
}
.ranking{
  color: #a4c969;
    border-color: #a4c969;
}
.partOfAWhole{
  color: #e85252;
    border-color: #e85252;
}
.evolution{
  color: #6689c6;
    border-color: #6689c6;
}
.map{
  color: #9a6fb0;
    border-color: #9a6fb0;
}
.flow{
  color: #a53253;
    border-color: #a53253;
}

/*
  CSS reset by Josh Comeau
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}


/*
  Full bleed layout by Josh Comeau
  https://www.joshwcomeau.com/css/full-bleed/
*/
.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(105ch, 90%)
    1fr;
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}


/* ---------- Horizontal separator ----------------- */
.smallHr {
  margin-top: 23px;
  margin-bottom: 23px;
  border: 0;
  border-top: 1px solid black;
  width: 0;
  animation: separator-width 2s ease-in-out forwards;
}
@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
      width: 200px;
  }
}

/* ---------- General style sheet ----------------- */
a {
  color: var(--brand);
  text-decoration: underline;
  text-underline-offset: 3px;
}
